#### Answers submitted by:  [fill in your name here]  
#### Date:  [fill in date completed]  
---

# Python Part 3:  Pandas Exercises
---

## Q1:  Read in the libraries you need

In [1]:
# Python 2 & 3 Compatibility
from __future__ import print_function, division

In [2]:
# imports a library 'pandas', names it as 'pd'
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from IPython.display import Image

# enables inline plots, without it plots don't show up in the notebook
%matplotlib inline

## Q2:  Set options in pandas so it displays `max_rows` to 10

In [5]:
# set various options in pandas
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 30)
pd.set_option('display.precision', 3)

## Q3:  What versions of `Python` and `pandas` are you running?

In [6]:
print("Pandas version:",pd.__version__)
print("Numpy version:",np.__version__)

Pandas version: 0.23.0
Numpy version: 1.14.3

In [7]:
# confirming which version of Python I am using
import sys
print("Python Version:", sys.version)

Python Version: 3.6.5 |Anaconda, Inc.| (default, Apr 29 2018, 16:14:56)
[GCC 7.2.0]

## Q4:  Read in the "olive" dataset that is available in this folder
Description:  572 olive oil samples from 3 different regions (and 9 sub-regions) of Italy; for each sample the normalized concentrations of 8 fatty acids are given.  
Source:  http://www2.chemie.uni-erlangen.de/publications/ANN-book/datasets/oliveoil/

There are 3 regions: 
* South
* North
* Sardinia

There are 9 sub-regions (areas): 
* North Apulia
* South Apulia
* Calabria
* Sicily
* Inland
* Coastal Sardinia
* Umbria
* East
* West Liguria

Supplemental report:  http://www.public.iastate.edu/~dicook/stat503/05/cs-olive.pdf

In [8]:
# read csv data into pandas dataframe
df = pd.read_csv('olive.csv')

## Q5:  How many rows and columns are in this dataframe?

In [9]:
 df.shape

(572, 11)

## Q6:  Print the first 4 rows of the data

In [14]:
df.head(2)

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29

## Q7:  How many different data types are in this dataframe, and what are the data types?

In [29]:
len(df.dtypes.unique())

2

## Q8:  Create a new column
### Copy the column to:  'Unnamed: 0' to 'sub_region_raw'

In [39]:
df['sub_region_raw'] = df['Unnamed: 0']

## Q9:  Rename a column
### 'Unnamed: 0' to:  'sub_region_desc'

In [48]:
df

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29,3.North-Apulia
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35,4.North-Apulia
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46,5.North-Apulia
5,6.North-Apulia,1,1,911,49,268,7924,678,51,70,44,6.North-Apulia
6,7.North-Apulia,1,1,922,66,264,7990,618,49,56,29,7.North-Apulia
7,8.North-Apulia,1,1,1100,61,235,7728,734,39,64,35,8.North-Apulia
8,9.North-Apulia,1,1,1082,60,239,7745,709,46,83,33,9.North-Apulia
9,10.North-Apulia,1,1,1037,55,213,7944,633,26,52,30,10.North-Apulia
10,11.North-Apulia,1,1,1051,35,219,7978,605,21,65,24,11.North-Apulia
11,12.North-Apulia,1,1,1036,59,235,7868,661,30,62,44,12.North-Apulia
12,13.North-Apulia,1,1,1074,70,214,7728,747,50,79,33,13.North-Apulia
13,14.North-Apulia,1,1,875,52,243,8018,655,41,79,32,14.North-Apulia
14,15.North-Apulia,1,1,952,49,254,7795,780,50,75,41,15.North-Apulia
...,...,...,...,...,...,...,...,...,...,...,...,...
557,558.West-Liguria,3,8,1010,100,240,7710,910,10,20,2,558.West-Liguria
558,559.West-Liguria,3,8,1020,90,240,7800,850,0,0,2,559.West-Liguria
559,560.West-Liguria,3,8,1120,90,300,7650,830,0,10,1,560.West-Liguria
560,561.West-Liguria,3,8,1090,90,290,7710,800,10,0,2,561.West-Liguria
561,562.West-Liguria,3,8,1100,120,280,7630,770,10,10,2,562.West-Liguria
562,563.West-Liguria,3,8,1090,80,240,7820,760,10,0,2,563.West-Liguria
563,564.West-Liguria,3,8,1150,90,250,7720,810,0,10,3,564.West-Liguria
564,565.West-Liguria,3,8,1110,90,230,7810,750,0,10,2,565.West-Liguria
565,566.West-Liguria,3,8,1010,110,210,7720,950,0,0,1,566.West-Liguria
566,567.West-Liguria,3,8,1070,100,220,7730,870,10,10,2,567.West-Liguria
567,568.West-Liguria,3,8,1280,110,290,7490,790,10,10,2,568.West-Liguria
568,569.West-Liguria,3,8,1060,100,270,7740,810,10,10,3,569.West-Liguria
569,570.West-Liguria,3,8,1010,90,210,7720,970,0,0,2,570.West-Liguria
570,571.West-Liguria,3,8,990,120,250,7750,870,10,10,2,571.West-Liguria
571,572.West-Liguria,3,8,960,80,240,7950,740,10,20,2,572.West-Liguria

In [50]:
df = df.rename(columns={'Unnamed: 0':'sub_region_desc'})

## Q10:  Rename the column 'area' to:  'sub_region'

In [51]:
 df = df.rename(columns={'area':'sub_region'})

## Q11:  How many unique values of 'region' are there?

Hint:  the answer should be 3

In [52]:
len(df.region.unique())

3

## Q12:  How many unique values of 'sub_region' are there?

Hint:  the answer should be 9

In [53]:
 len(df.sub_region.unique())

9

## Q13:  How many unique values of 'sub_region_desc' are there?
Hint:  we would like the answer to be 9, but here's where we run into some messy data

In [54]:
 len(df.sub_region_desc.unique())

572

## Q14:  Looks like 'sub_region_desc' has line numbers attached to the beginning of region name.  We need to do some data cleaning.  Can you remove them?  
```
 	region 	sub_region 	palmitic 	palmitoleic 	stearic 	oleic 	linoleic 	linolenic 	arachidic 	eicosenoic 	sub_region_raw
sub_region_desc 											
1.North-Apulia 	1 	1 	1 	1 	1 	1 	1 	1 	1 	1 	1
10.North-Apulia 	1 	1 	1 	1 	1 	1 	1 	1 	1 	1 	1
100.South-Apulia 	1 	1 	1 	1 	1 	1 	1 	1 	1 	1 	1
101.South-Apulia 	1 	1 	1 	1 	1 	1 	1 	1 	1 	1 	1
102.South-Apulia 	1 	1 	1 	1 	1 	1 	1 	1 	1 	1 	1
```

Hint:  check out this link
http://stackoverflow.com/questions/39583264/pandas-strip-numbers-and-parenthesis-from-string

In [61]:
df.sub_region_desc = df.sub_region_desc.str.replace(r'\d+\.', r'')

In [7]:
#df.head()

In [62]:
 len(df.sub_region_desc.unique())

9

In [8]:
#df.head()

In [9]:
#df.head()

## Q15:  Try again:  How many unique values of 'sub_region_desc' are there?
Hint:  you should see 9 of them!

## Q16:   Create a horizontal frequency barplot for 'region'

## Q17:   Create a horizontal frequency barplot for 'sub_region'

## Q18:   Create a horizontal frequency barplot for 'sub_region_desc'